<ActionBar title="Report">
    <NavigationButton text="Back"></NavigationButton>
    <Label text="Weather Report"></Label>
</ActionBar>

<GridLayout rows="100,auto,*" columns="*,auto,*">
    <Label text="{{city}} City" row="0" col="1" style="font-size:40"></Label>
    
    <GridLayout rows="*,40,40,40,40,*" columns="*,auto,auto,auto,*"  row="1" col="1">
        
        <Label text="Temperature" row="1" col="1" style="font-size: 20;"></Label>
        <label text=" : " row="1" col="2" style="font-size: 20;"></label>
        <Label text="{{tempf}} °C / {{temp}} °F" row="1" col="3" style="font-size: 20;"></Label>

        <label text="Pressure" row="2" col="1" style="font-size: 20;"></label>
        <Label text=" : " row="2" col="2" style="font-size: 20;"></Label>
        <Label text="{{pressure}} Pa" row="2" col="3" style="font-size: 20;"></Label>

        <label text="Humidity" row="3" col="1" style="font-size: 20;"></label>
        <Label text=" : " row="3" col="2" style="font-size: 20;"></Label>
        <Label text="{{humidity}}%" row="3" col="3" style="font-size: 20;"></Label>
        
        <label text="Wind" row="4" col="1" style="font-size: 20;"></label>
        <Label text=" : " row="4" col="2" style="font-size: 20;"></Label>
        <Label text="{{wind}} Km/h" row="4" col="3" style="font-size: 20;"></Label>
    </GridLayout>
</GridLayout>